<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile" style="display: none;">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->              
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">David Grey. H</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/application/main-component" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : dashboard.isActive || buttons.isActive  }">
      <a class="nav-link" (click)="uiBasicCollapsed = !uiBasicCollapsed" [attr.aria-expanded]="uiBasicCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Insights</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/application/main-component" routerLinkActive="active" #dashboard="routerLinkActive">Dashboard</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/buttons" routerLinkActive="active" #buttons="routerLinkActive">Inventory</a></li>
          
        </ul>
      </div>
    </li>

    <li class="nav-item" [ngClass]="{'active' : cloudfront.isActive || cloudtrail.isActive || alb.isActive || elb.isActive || s3.isActive || vpc.isActive || gaurdduty.isActive || inspector.isActive || utilization.isActive || changemanagement.isActive}">
      <a class="nav-link" (click)="logsCollapsed = !logsCollapsed" [attr.aria-expanded]="logsCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Logs</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-chart-gantt menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!logsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/application/logs/cloud-front" routerLinkActive="active" #cloudfront="routerLinkActive">Cloud Front</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/application/logs/cloud-trail" routerLinkActive="active" #cloudtrail="routerLinkActive">Cloud Trail</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/application/logs/alb" routerLinkActive="active" #alb="routerLinkActive">ALB</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/application/logs/elb" routerLinkActive="active" #elb="routerLinkActive">ELB</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/application/logs/s3" routerLinkActive="active" #s3="routerLinkActive">S3</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/application/logs/vpc" routerLinkActive="active" #vpc="routerLinkActive">VPC</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/application/logs/guard-duty" routerLinkActive="active" #gaurdduty="routerLinkActive">Gaurd Duty</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/application/logs/inspector" routerLinkActive="active" #inspector="routerLinkActive">Inspector</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/application/logs/utilization" routerLinkActive="active" #utilization="routerLinkActive">Utilization</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/application/logs/change-management" routerLinkActive="active" #changemanagement="routerLinkActive">Change Management</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item" [ngClass]="{ 'active': bestpractices.isActive }">
      <a class="nav-link" routerLink="/application/best-practices" routerLinkActive #bestpractices="routerLinkActive">
        <span class="menu-title">Best Practices</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>

    <li class="nav-item" [ngClass]="{'active' : explorer.isActive || invoices.isActive || costcomparison.isActive || savings.isActive }">
      <a class="nav-link" (click)="costInsightsCollapsed = !costInsightsCollapsed" [attr.aria-expanded]="costInsightsCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Cost Insights</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-currency-usd"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!costInsightsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/application/cost-insights/explorer" routerLinkActive="active" #explorer="routerLinkActive">Explorer</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/application/cost-insights/invoices" routerLinkActive="active" #invoices="routerLinkActive">Invoices</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/application/cost-insights/cost-comparison" routerLinkActive="active" #costcomparison="routerLinkActive">Cost Comparison</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/application/cost-insights/cost-savings" routerLinkActive="active" #savings="routerLinkActive">Savings</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item" [ngClass]="{'active' : startstop.isActive || tagging.isActive || snapshot.isActive  }">
      <a class="nav-link" (click)="automationCollapsed = !automationCollapsed" [attr.aria-expanded]="automationCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Automation</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-bug"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!automationCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/application/automation/start-stop" routerLinkActive="active" #startstop="routerLinkActive">Start/Stop</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/application/automation/tagging" routerLinkActive="active" #tagging="routerLinkActive">Tagging</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/application/automation/snapshot" routerLinkActive="active" #snapshot="routerLinkActive">Snapshot</a></li>
        </ul>
      </div>
    </li>

  </ul>
</nav>
